
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper{
  text-align: center;
  button{
    position: absolute;
    top: 50%;
    padding: 40px;
  }
  #num-value{
    font-style: normal;
    font-size: 20px;
  }
}
